<div class="container my-4">
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-primary" href="/" role="button">Back to index page</a>
			<a class="btn btn-primary" href="/cars" role="button">View cars</a>
			<a class="btn btn-primary" href="/cats" role="button">View cats</a>
			<a class="btn btn-primary" href="/cars/new" role="button">Add new cars</a>
		</div>
	</div>
</div>
