<%- include('includes/header'); -%>
<%- include('includes/links'); -%>

		<div class="container">
			<img src="/images/aston-martin-db11.jpg" alt="aston-martin-db11" />
			<img src="/images/chevrolet-camaro.jpg" alt="chevrolet-camaro" />
			<img src="/images/Chevrolet-Corvette-Stingray-c7.jpg" alt="Chevrolet-Corvette-Stingray-c7" />
			<img src="/images/Lamborghini-LP770-4-Centenario.jpg" alt="Lamborghini-LP770-4-Centenario" />
			<img src="/images/mercedes-benz-unimog-hound.jpg" alt="mercedes-benz-unimog-hound" />
			<img src="/images/optimus-prime.jpg" alt="optimus-prime" />
			<img src="/images/transformers-barricade-ford-mustang.jpg" alt="transformers-barricade-ford-mustang" />
		</div>
	</body>
</html>
