<%- include('includes/header'); -%>
<%- include('includes/links'); -%>

<div class="container">
    <img src="/images/Abyssinian_body.jpg" alt="Abyssinian_body" />
    <img src="/images/AmericanBobtail.jpg" alt="AmericanBobtail" />
    <img src="/images/AmericanCurlSHA.jpg" alt="AmericanCurlSHA" />
    <img src="/images/AmericanShorthair.jpg" alt="AmericanShorthair" />
</div>
</body>
</html>
