<%- include('includes/header'); -%>

		<div class="container mt-5">
			<div class="jumbotron">
				<h1 class="display-4">Hello !!</h1>
				<p class="lead">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima odit ullam, alias veniam quas laborum quasi facere in, sed ab
					dolorum suscipit totam odio optio ducimus accusantium omnis rerum quam.
				</p>
				<hr class="my-4" />
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorem impedit quod, pariatur fugit modi saepe quibusdam
					ratione fuga, natus dolor consequuntur optio deserunt error quo temporibus in similique cum..
				</p>
				<a class="btn btn-primary" href="/cats" role="button">View cats</a>

				<a class="btn btn-primary" href="/cars" role="button">View cars</a>

				<a class="btn btn-primary" href="/cars/new" role="button">Add new cars</a>
			</div>
		</div>
	</body>
</html>
